<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
    <listeners>
        <listener class-name="com.test.n26.listeners.TestListener"/>
    </listeners>
    <test name="test">
        <classes>

            <class name="com.test.n26.tests.AddAccount"/>
            <class name="com.test.n26.tests.EnableBudget"/>
            <class name="com.test.n26.tests.LanguageChange"/>
            <class name="com.test.n26.tests.CurrencyChange"/>
            <class name="com.test.n26.tests.AddExpenseIncome"/>

        </classes>
    </test>
</suite> <!-- Suite -->