

/node_modules
/cypress/screenshots/
/cypress/videos/
/data_files
/cypress/config
/archive_tests
/stageuae.json
/mochawesome-report
/cypress-tests-report.json
/TestReport
/qaksa.json
/stageksa.json
/debug.log
/=stageuae.json
*.DS_Store
/cypress/results
/cypress/reports